<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}" />
    <title>Some title</title>
</head>

<body>
    <div class="Tabs-module__content--2AOXp">
        <div class="SearchForm-module__wrapper--4DMdj">
            <div class="SearchForm-module__destination--vMPmZ SearchForm-module__control--GLAKB">
                <div class="clickOutside">
                    <div class="Input-module__wrapper--2q9rr Input-module__wrapper_view_primary--_8Y7g Input-module__wrapper_wide--2siZv">
                        <label class="Input-module__label--1p3o1 Input-module__label_size_m--PyZym">
                            <div class="Input-module__controlLine--2dQ2p">
                                <input class="Input-module__control--tqFEn" placeholder="City, hotel or airport"
                                    data-testid="destination-input" autocomplete="input-off" autocorrect="off"
                                    autocapitalize="off" spellcheck="false" value="Moscow, Russia">
                            </div>
                            <div class="Input-module__titleWrapper--2jSSX">
                                <div class="Input-module__title--SvJ1H">Destination</div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="SearchForm-module__dates--SnKSM SearchForm-module__control--GLAKB">
                <div class="clickOutside">
                    <div class="ControlGroup-module__controlGroup--ByUaW Datepicker-module__group--nCh00 controlGroup ">
                        <div class="Input-module__wrapper--2q9rr Input-module__wrapper_view_primary--_8Y7g Input-module__wrapper_pseudo--2kLCk Datepicker-module__input--2z3vQ"
                            tabindex="0">
                            <label class="Input-module__label--1p3o1 Input-module__label_size_m--PyZym">
                                <div class="Input-module__controlLine--2dQ2p">
                                    <div class="Input-module__control--tqFEn Input-module__control--tqFEn" tabindex="0"
                                        data-testid="date-start-input" role="textbox">May 27 2023</div>
                                </div>
                                <div class="Input-module__titleWrapper--2jSSX">
                                    <div class="Input-module__title--SvJ1H">Check-in</div>
                                </div>
                            </label></div>
                        <div class="Input-module__wrapper--2q9rr Input-module__wrapper_view_primary--_8Y7g Input-module__wrapper_pseudo--2kLCk Datepicker-module__input--2z3vQ"
                            tabindex="0"><label class="Input-module__label--1p3o1 Input-module__label_size_m--PyZym">
                                <div class="Input-module__controlLine--2dQ2p">
                                    <div class="Input-module__control--tqFEn Input-module__control--tqFEn" tabindex="0"
                                        data-testid="date-end-input" role="textbox">May 28 2023</div>
                                </div>
                                <div class="Input-module__titleWrapper--2jSSX">
                                    <div class="Input-module__title--SvJ1H">Check-out</div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SearchForm-module__guests--3FXuj SearchForm-module__control--GLAKB">
                <div class="clickOutside">
                    <div class="Input-module__wrapper--2q9rr Input-module__wrapper_view_primary--_8Y7g Input-module__wrapper_pseudo--2kLCk Input-module__wrapper_wide--2siZv Guests-module__input--3qYEB"
                        tabindex="0"><label class="Input-module__label--1p3o1 Input-module__label_size_m--PyZym">
                            <div class="Input-module__controlLine--2dQ2p">
                                <div class="Input-module__control--tqFEn Input-module__control--tqFEn" tabindex="0"
                                    data-testid="guests-input" role="textbox">1 guest</div>
                                <div tabindex="0" role="button" class="Input-module__icon--JlN8U">
                                    <svg width="20"
                                        height="20" viewBox="0 0 20 20" fill="currentColor"
                                        class="Guests-module__arrowDown--1jS3N">
                                        <path fill-rule="nonzero"
                                            d="M10.908 14.623l6.139-6.14c.5-.499.5-1.315 0-1.815l-.172-.174a1.29 1.29 0 0 0-1.817 0L10 11.553l-5.06-5.06a1.288 1.288 0 0 0-1.814 0l-.173.175c-.5.5-.5 1.316 0 1.816l6.14 6.139a1.288 1.288 0 0 0 1.815 0">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <div class="Input-module__titleWrapper--2jSSX">
                                <div class="Input-module__title--SvJ1H">1 room for</div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="SearchForm-module__submit--3zHzr SearchForm-module__control--GLAKB">
                <button
                    class="Button-module__button--MR2Ly Button-module__button_size_m--184Hw Button-module__button_wide--eV274"
                    tabindex="0" data-testid="search-button">
                    <div role="none" class="Button-module__loader--285Mt">
                        <div class="DotsLoader-module__wrapper--2zGvd">
                            <div class="DotsLoader-module__dot--3OkjQ DotsLoader-module__dot_first--3RQ_s"></div>
                            <div class="DotsLoader-module__dot--3OkjQ DotsLoader-module__dot_second--2Wfj8"></div>
                            <div class="DotsLoader-module__dot--3OkjQ DotsLoader-module__dot_third--2mf6s"></div>
                            <div class="DotsLoader-module__dot--3OkjQ DotsLoader-module__dot_fourth--27BdN"></div>
                        </div>
                    </div>
                    <div class="Button-module__content--2FF16">Search</div>
                </button>
            </div>
        </div>
    </div>
</body>